<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
  {{data|safe}}
    <h1>PICTURE SITE</h1>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Meny</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </a>
          <ul class="dropdown-menu">
          <nav class="card" style="width: 18rem;">
    <img src="..\static\camera.jpg" class="card-img-top" alt="camera">
    <div class="card-body">
    <h5 class="card-title">To Pictures</h5>
    <p class="card-text">look at all the pictures.</p>
    <a href="#" class="btn btn-primary">Pictures</a>
    </div>

</nav>
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pictures
          </a>

          <ul class="dropdown-menu">

            <li><a id="Ocean" class="dropdown-item" href="#">Ocean</a>
            <img src="..\static\ocean.jpg" class="img-fluid img-thumbnail" alt="Ocean">
            </li>
            <li><a class="dropdown-item" href="#">Road</a><img src="..\static\road.jpg" class="img-fluid img-thumbnail" alt="Road">
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Astronomy</a><img src="..\static\astronomy.jpg" class="img-fluid img-thumbnail" alt="Road"></li>
          </ul>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>